<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Song</title>
</head>
<body>
<form th:action="@{/new}" method="post" th:object="${song}">
    <label >Titulo:</label>
    <input type="text" id="titulo" name="titulo" th:field="*{titulo}" required minlength="5"/><br/>
    <label >Artist:</label>
    <input type="text" id="artista" name="artista" th:field="*{artista}" required minlength="5"/><br/>
    <label >Clasificacion:</label>
    <input type="number" id="clasificacion" name="clasificacion" th:field="*{clasificacion}" required minlength="1" maxlength="10"/><br/>
    <button type="submit">Add</button>
</form>
</body>
</html>